:root{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

ul{
    list-style-type: none;
}

li{
    padding: 1px;
}

/*header*/
.menu ul{
    display: flex;
    justify-content: space-around;
}

nav{
    display: flex;
    justify-content: space-between;
}

.icon{
    width: 2em;
    height: 2em;
}

.logo{
    display: flex;
    margin: 10px;
    padding: 5px;
    align-items: center;
}

#nom{
    font-size: 2rem;
}
/*header*/

/*footer*/
footer{
    background-color: rgb(22, 22, 88);
    padding: 5px;
    display: flex;
    justify-content: space-between;
}

.point{
    color:rgb(207, 207, 255);
    font-size: 1.5rem;
}

.info{
    color: #FFFFFF;
}
/*footer*/




