:root{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: url(/Exercice_3/images/background.jpg);
}

ul{
    list-style-type: none;
}

li{
    padding: 1px;
}

/*header*/
.menu ul{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}

nav{
    display: flex;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.342);
    color: white;
}

.icon{
    width: 2em;
    height: 2em;
}

.logo{
    display: flex;
    margin: 10px;
    padding: 5px;
    flex-flow: row nowrap;
    
}

#nom{
    font-size: 1.3em;
}
/*header*/

/*footer*/
footer{
    background-color: rgb(22, 22, 88);
    padding: 5px;
    margin: -6px;
    display: flex;
    justify-content: space-between;
}

.point{
    color:rgb(78, 199, 255);
    font-size: 1.5rem;
}

.info{
    color: #FFFFFF;
}
/*footer*/

h1{
    color: rgb(78, 199, 255);
}

p{
    color: white;
}

button{
    margin: 3px;
    padding: 15px;
    font-size: 1.3em;
    background-color: rgb(78, 199, 255);
    color: white;
    border-radius: 5px;
}

.page{
    padding: 100px 5px 100px 5px;
}

